################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*.pkl
/*.zip

/.vs
/env
/__pycache__
